@import "./shared.css";

/* start contact section at top of page */
.contact_top {
    background-color: var(--darkMainColor);
    padding: 15px 0;
    font-family: var(--bodyFont);
    color: var(--typoSecondaryColor);
    font-size: 14px;
}

.social_buttons span {
    margin-right: 15px;
}

.social_buttons a {
    margin-right: 10px;
    cursor: pointer;
    color: var(--typoSecondaryColor);
}

.social_buttons a:hover>i {
    color: var(--lightMainColor) !important;
}

.phone_mail_contact div span i {
    margin-right: 5px;
    color: var(--lightMainColor);
}

.contact_phone {
    margin-right: 20px;
}

@media screen and (max-width:767px) {
    .contact_top {
        text-align: center;
    }

    .social_buttons {
        margin-bottom: 10px;
    }

    .phone_mail_contact div {
        margin-bottom: 5px;
    }
}

/* end contact section at top of page */

/* start navbar section at top of page */
.navbar_wrapper {
    background-color: white;
    font-family: var(--bodyFont);
    border-bottom: 1px solid #eee;
}

.navbar_wrapper .navbar {
    background-color: white !important;
}

nav #navbarNavAltMarkup .navbar-nav a {
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    color: var(--darkMainColor);
    margin-left: 30px;
}

nav #navbarNavAltMarkup .navbar-nav a:hover {
    color: var(--lightMainColor);
}

nav #navbarNavAltMarkup .donate_button_navbar {
    background: var(--lightMainColor);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 30px;
    text-align: center;
    transition: all ease-in-out .2s;
}

nav #navbarNavAltMarkup .donate_button_navbar:hover {
    background-color: var(--darkMainColor);
}


nav #navbarNavAltMarkup .donate_button_navbar a {
    color: white;
}

nav #navbarNavAltMarkup .donate_button_navbar a:hover {
    text-decoration: none;
}

/* style menu button in mobile view */
.navbar-light .navbar-toggler {
    border: 0;
    outline: 0;
}

.navbar-light .navbar-toggler:focus {
    border: 0;
    outline: 0;
}

.navbar-light .navbar-toggler i {
    color: var(--darkMainColor);
    font-size: 25px;
}

/* end navbar section at top of page --------------------------------------------------------*/


/* start 'who we are' section */

.what_we_do_wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
}

.title_box {
    margin-bottom: 80px;
}

.title_box .hint1{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: var(--bodyFont);
    letter-spacing: 1px;
    color: var(--lightMainColor);
}

.title_box h3{
    font-family: var(--headlineFont);
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--darkMainColor);
    margin-bottom: 20px;
}

.title_box .hint2{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--bodyFont);
    letter-spacing: 1px;
    color: var(--darkMainColor);
}

.what_we_do_wrapper .services{
    margin-bottom: 30px;
}

.what_we_do_wrapper .service_box .icon{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.what_we_do_wrapper .service_box .icon img{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.what_we_do_wrapper .service_box h5{
    font-size: 24px;
    line-height: 1.2em;
    font-family: var(--headlineFont);
    color: var(--darkMainColor);
}

.what_we_do_wrapper .service_box p{
    font-size: 15px;
    color: var(--darkMainColor);
    line-height: 1.7em;
    font-weight: 400;
}

@media screen and (max-width:767px) {
    .title_box h3 {
        font-size: 36px;
    }

    .what_we_do_wrapper .service_box{
        margin-bottom: 20px;
    }

    .what_we_do_wrapper .service_box .icon{
        margin: 0 auto 20px;
    }

    .what_we_do_wrapper .service_box h5{
        text-align: center;
    }
}

/* end 'who we are' section */

/* start 'our mission' section */

.our_mission_wrapper {
    padding-bottom: 100px;
}

.our_mission_wrapper .left_part h3 {
    font-family: var(--headlineFont);
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--darkMainColor);
    margin-bottom: 20px;
}

.our_mission_wrapper .left_part p {
    font-size: 16px;
    color: var(--darkMainColor);
    line-height: 1.7em;
    font-weight: 400;
}

.our_mission_wrapper .left_part .our_mission_button {
    background: var(--lightMainColor);
    padding: 12px 22px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out .2s;
    display: inline-block;
}

.our_mission_wrapper .left_part .our_mission_button:hover {
    background-color: var(--darkMainColor);
}


.our_mission_wrapper .left_part .our_mission_button a {
    color: white;
}

.our_mission_wrapper .left_part .our_mission_button a:hover {
    text-decoration: none;
}

.our_mission_wrapper .right_part img {
    width: 100%;
    object-fit: cover;
    height: 85%;
    border-radius: 20px;
}

@media screen and (max-width:767px) {
    .our_mission_wrapper {
        padding-bottom: 70px;
        padding-top: 0;
    }

    .our_mission_wrapper .left_part h3 {
        font-size: 36px;
    }

    .our_mission_wrapper .left_part {
        margin-bottom: 30px;
        text-align: center;
    }
}

/* end 'our mission' section */

/* start 'Volunteer' section */
.volunteer_wrapper{
    margin-bottom: 100px;
}

.volunteer_wrapper .card .card-body h5{
    font-family: var(--headlineFont);
    color: var(--darkMainColor);
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}

.volunteer_wrapper .card{
    border-radius: 20px;
}

.volunteer_wrapper .card .card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.volunteer_wrapper .card .card-body p{
    text-align: center;
    color: var(--typoSecondaryColor);
    font-size: 15px;
}

.volunteer_wrapper #social-icons {
    margin-top: 30px;
    height: 35px;
}

.volunteer_wrapper #social-icons div {
    height: 35px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.volunteer_wrapper #social-icons div>div {
    float: left;
    padding-right: 20px;
    width: 50px;
}

.volunteer_wrapper #social-icons div>div:last-child{
    padding-right: 0;
}

.volunteer_wrapper #social-icons a:hover {
    text-decoration: none;
}

.volunteer_wrapper #social-icons i {
    background-color: var(--lightMainColor);
    color: #fff;
    display: flex;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.volunteer_wrapper #social-icons i:hover {
    cursor: pointer;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--lightMainColor);
}

.owl-dots button.owl-dot:focus {
    outline: none;
}
/* start 'Volunteer' section */

/* start 'footer' ------------------------------------------------------------------------------*/

#contactus-box {
    background-color: var(--footerBackground);
    color: #fff;
    padding-bottom: 20px;
    padding-top: 80px;
}

#contactus-box h4 {
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--headlineFont);
}

#contactus-box h4::before {
    position: absolute;
    content: '';
    top: 42px;
    width: 60px;
    height: 3px;
    background-color: var(--lightMainColor);
}

#contactus-box #left p {
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    color: var(--typoSecondaryColor);
}

#contactus-box #left #contact {
    margin-top: 50px;
    color: #fff;
}

#contactus-box #left #contact a {
    color: #fff;
}

#contactus-box #left #contact a:hover {
    text-decoration: none;
}

#contactus-box #left #contact div {
    margin-bottom: 20px;
}

#contactus-box #left #contact span {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

#contactus-box #left #contact span>i {
    color: var(--lightMainColor);
}

#contactus-box #left #social-icons {
    margin-top: 40px;
}

#contactus-box #left #social-icons div>div {
    float: left;
    padding-right: 20px;
    width: 50px;
}

#contactus-box #left #social-icons a:hover {
    text-decoration: none;
}

#contactus-box #left #social-icons i {
    background-color: var(--lightMainColor);
    color: #fff;
    display: flex;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#contactus-box #left #social-icons i:hover {
    cursor: pointer;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#contactus-box #mid a {
    display: inline-block;
    color: var(--typoSecondaryColor);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
}

#contactus-box #mid a:hover {
    color: var(--lightMainColor);
}

#contactus-box #right img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

#copyright {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: var(--lightMainColor);
    color: #fff;
}

/* start scroll to top button */
.scroll-to-top {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 60px;
    right: 5%;
    display: none;
    z-index: 99999;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: var(--lightMainColor);
    line-height: 60px;
    border: 2px solid var(--darkMainColor);
}

.scroll-to-top .scroll-icon {
    font-size: 31px;
    color: var(--dark_blue_color);
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width:767px) {
    #contactus-box #left {
        margin-bottom: 20px;
    }

    #contactus-box #mid {
        margin-bottom: 30px;
    }

    #contactus-box #mid img {
        max-width: 50%;
        margin-top: 30px;
    }

    #contactus-box #main-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #contactus-box #right img {
        margin-bottom: 70px;
        margin-top: 0;
    }
}

/* end 'footer' */