@import "./shared.css";

/* start contact section at top of page */
.contact_top {
    background-color: var(--darkMainColor);
    padding: 15px 0;
    font-family: var(--bodyFont);
    color: var(--typoSecondaryColor);
    font-size: 14px;
}

.social_buttons span {
    margin-right: 15px;
}

.social_buttons a {
    margin-right: 10px;
    cursor: pointer;
    color: var(--typoSecondaryColor);
}

.social_buttons a:hover>i {
    color: var(--lightMainColor) !important;
}

.phone_mail_contact div span i {
    margin-right: 5px;
    color: var(--lightMainColor);
}

.contact_phone {
    margin-right: 20px;
}

@media screen and (max-width:767px) {
    .contact_top {
        text-align: center;
    }

    .social_buttons {
        margin-bottom: 10px;
    }

    .phone_mail_contact div {
        margin-bottom: 5px;
    }
}

/* end contact section at top of page */

/* start navbar section at top of page */
.navbar_wrapper {
    background-color: white;
    font-family: var(--bodyFont);
    border-bottom: 1px solid #eee;
}

.navbar_wrapper .navbar {
    background-color: white !important;
}

nav #navbarNavAltMarkup .navbar-nav a {
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    color: var(--darkMainColor);
    margin-left: 30px;
}

nav #navbarNavAltMarkup .navbar-nav a:hover {
    color: var(--lightMainColor);
}

nav #navbarNavAltMarkup .donate_button_navbar {
    background: var(--lightMainColor);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 30px;
    text-align: center;
    transition: all ease-in-out .2s;
}

nav #navbarNavAltMarkup .donate_button_navbar:hover {
    background-color: var(--darkMainColor);
}


nav #navbarNavAltMarkup .donate_button_navbar a {
    color: white;
}

nav #navbarNavAltMarkup .donate_button_navbar a:hover {
    text-decoration: none;
}

/* style menu button in mobile view */
.navbar-light .navbar-toggler {
    border: 0;
    outline: 0;
}

.navbar-light .navbar-toggler:focus {
    border: 0;
    outline: 0;
}

.navbar-light .navbar-toggler i {
    color: var(--darkMainColor);
    font-size: 25px;
}

/* end navbar section at top of page --------------------------------------------------------*/

/* start title section */
.title_wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
}

.title_box {
    margin-bottom: 80px;
}

.title_box .hint1{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    font-family: var(--bodyFont);
    letter-spacing: 1px;
    color: var(--lightMainColor);
}

.title_box h3{
    font-family: var(--headlineFont);
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--darkMainColor);
    margin-bottom: 20px;
}

.title_box .hint2{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--bodyFont);
    letter-spacing: 1px;
    color: var(--darkMainColor);
}


@media screen and (max-width:767px) {
    .title_box h3 {
        font-size: 36px;
    }
}
/* end title section */

/* start 'main content' */

.main_content_wrapper{
    margin-bottom: 80px;
}

/* left part */
.main_content_wrapper .left_part h2{
    font-family: var(--headlineFont);
    color: var(--darkMainColor);
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.20em;
    margin-bottom: 20px;
}

.main_content_wrapper .left_part p{
    font-family: var(--bodyFont);
    color: var(--darkMainColor);
    font-size: 15px;
    line-height: 1.7em;
    margin-bottom: 50px;
}

.main_content_wrapper .left_part img{
    border-radius: 20px;
    width: 100%;
}

@media screen and (max-width:767px) {
    .main_content_wrapper .left_part h2{
        font-size: 26px;
    }
}

@media screen and (max-width:991px) {
    .main_content_wrapper .left_part{
        margin-bottom: 50px;
    }
}

/* right part */

.main_content_wrapper .right_part h4{
    font-family: var(--headlineFont);
    color: var(--darkMainColor);
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.main_content_wrapper .right_part label{
    font-family: var(--bodyFont);
    color: var(--darkMainColor);
    line-height: 24px; 
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
}

.main_content_wrapper .right_part button{
    background: var(--lightMainColor);
    color: #fff;
    font-size: 16px;
    padding: 12px 22px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out .2s;
    border: 0;
    outline: 0;
    margin-top: 30px;
}

.main_content_wrapper .right_part button:hover {
    background-color: var(--darkMainColor);
}

.main_content_wrapper .right_part button:focus {
    background-color: var(--darkMainColor);
}
/* end 'main content' */


/* start 'become a volunteer' section */
.become_volunteer_wrapper{
    background-color: var(--becomeAVolunteer);
    padding-top: 80px;
    padding-bottom: 80px;
}

.become_volunteer_wrapper h3{
    font-size: 48px;
    line-height: 1.25em;
    text-transform: capitalize;
    color: #fff;
    font-family: var(--headlineFont);
}

.get_involved__button {
    background: #fff;
    padding: 12px 50px;
    border-radius: 50px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out .2s;
    display: inline-block;
}

.get_involved__button:hover {
    background-color: var(--darkMainColor);
}

.get_involved__button:hover > a{
    color: #fff;
}

.get_involved__button a {
    color: var(--darkMainColor);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}

.get_involved__button a:hover {
    text-decoration: none;
}

@media screen and (max-width:767px) {
    .become_volunteer_wrapper h3{
        font-size: 26px;
        margin-bottom: 20px;
    }

    .become_volunteer_wrapper .row{
        justify-content: center !important;
    }
}
/* end 'become a volunteer' section */





/* start 'footer' ------------------------------------------------------------------------------*/

#contactus-box {
    background-color: var(--footerBackground);
    color: #fff;
    padding-bottom: 20px;
    padding-top: 80px;
}

#contactus-box h4 {
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--headlineFont);
}

#contactus-box h4::before {
    position: absolute;
    content: '';
    top: 42px;
    width: 60px;
    height: 3px;
    background-color: var(--lightMainColor);
}

#contactus-box #left p {
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    color: var(--typoSecondaryColor);
}

#contactus-box #left #contact {
    margin-top: 50px;
    color: #fff;
}

#contactus-box #left #contact a {
    color: #fff;
}

#contactus-box #left #contact a:hover {
    text-decoration: none;
}

#contactus-box #left #contact div {
    margin-bottom: 20px;
}

#contactus-box #left #contact span {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

#contactus-box #left #contact span>i {
    color: var(--lightMainColor);
}

#contactus-box #left #social-icons {
    margin-top: 40px;
}

#contactus-box #left #social-icons div>div {
    float: left;
    padding-right: 20px;
    width: 50px;
}

#contactus-box #left #social-icons a:hover {
    text-decoration: none;
}

#contactus-box #left #social-icons i {
    background-color: var(--lightMainColor);
    color: #fff;
    display: flex;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#contactus-box #left #social-icons i:hover {
    cursor: pointer;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#contactus-box #mid a {
    display: inline-block;
    color: var(--typoSecondaryColor);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
}

#contactus-box #mid a:hover {
    color: var(--lightMainColor);
}

#contactus-box #right img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

#copyright {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: var(--lightMainColor);
    color: #fff;
}

/* start scroll to top button */
.scroll-to-top {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 60px;
    right: 5%;
    display: none;
    z-index: 99999;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: var(--lightMainColor);
    line-height: 60px;
    border: 2px solid var(--darkMainColor);
}

.scroll-to-top .scroll-icon {
    font-size: 31px;
    color: var(--dark_blue_color);
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width:767px) {
    #contactus-box #left {
        margin-bottom: 20px;
    }

    #contactus-box #mid {
        margin-bottom: 30px;
    }

    #contactus-box #mid img {
        max-width: 50%;
        margin-top: 30px;
    }

    #contactus-box #main-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #contactus-box #right img {
        margin-bottom: 70px;
        margin-top: 0;
    }
}

/* end 'footer' */