@import "./shared.css";

/* start contact section at top of page */
.contact_top {
    background-color: var(--darkMainColor);
    padding: 15px 0;
    font-family: var(--bodyFont);
    color: var(--typoSecondaryColor);
    font-size: 14px;
}

.social_buttons span {
    margin-right: 15px;
}

.social_buttons a {
    margin-right: 10px;
    cursor: pointer;
    color: var(--typoSecondaryColor);
}

.social_buttons a:hover>i {
    color: var(--lightMainColor) !important;
}

.phone_mail_contact div span i {
    margin-right: 5px;
    color: var(--lightMainColor);
}

.contact_phone {
    margin-right: 20px;
}

@media screen and (max-width:767px) {
    .contact_top {
        text-align: center;
    }

    .social_buttons {
        margin-bottom: 10px;
    }

    .phone_mail_contact div {
        margin-bottom: 5px;
    }
}

/* end contact section at top of page */

/* start navbar section at top of page */
.navbar_wrapper {
    background-color: white;
    font-family: var(--bodyFont);
    border-bottom: 1px solid #eee;
}

.navbar_wrapper .navbar {
    background-color: white !important;
}

nav #navbarNavAltMarkup .navbar-nav a {
    font-size: 15px;
    line-height: 30px;
    font-weight: 600;
    color: var(--darkMainColor);
    margin-left: 30px;
}

nav #navbarNavAltMarkup .navbar-nav a:hover {
    color: var(--lightMainColor);
}

nav #navbarNavAltMarkup .donate_button_navbar {
    background: var(--lightMainColor);
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 30px;
    text-align: center;
    transition: all ease-in-out .2s;
}

nav #navbarNavAltMarkup .donate_button_navbar:hover {
    background-color: var(--darkMainColor);
}


nav #navbarNavAltMarkup .donate_button_navbar a {
    color: white;
}

nav #navbarNavAltMarkup .donate_button_navbar a:hover {
    text-decoration: none;
}

/* style menu button in mobile view */
.navbar-light .navbar-toggler {
    border: 0;
    outline: 0;
}

.navbar-light .navbar-toggler:focus {
    border: 0;
    outline: 0;
}

.navbar-light .navbar-toggler i {
    color: var(--darkMainColor);
    font-size: 25px;
}

/* end navbar section at top of page */

/* start slideshow edit */

.carousel-item .carousel-caption {
    transform: translateY(50%);
    bottom: 50%;
}

.carousel-item .carousel-caption h5 {
    font-family: var(--headlineFont);
    font-size: 64px;
    margin-bottom: 20px;
    color: #ffffff;
}

.carousel-item .carousel-caption p {
    font-size: 20px;
    line-height: 1.6em;
    color: #ffffff;
    font-weight: 400;
}

.carousel-item img {
    filter: brightness(0.5);
}

@media screen and (max-width:767px) {

    .carousel-item img {
        object-fit: cover;
        height: 300px;
    }

    .carousel-item .carousel-caption h5 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .carousel-item .carousel-caption p {
        font-size: 14px;
    }
}

/* end slideshow edit */

/* start 'who we are' section */

.who_we_are_wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
}

.who_we_are_wrapper .left_part h3 {
    font-family: var(--headlineFont);
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--darkMainColor);
    margin-bottom: 20px;
}

.who_we_are_wrapper .left_part p {
    font-size: 16px;
    color: var(--darkMainColor);
    line-height: 1.7em;
    font-weight: 400;
}

.who_we_are_wrapper .left_part .who_we_are_button {
    background: var(--lightMainColor);
    padding: 12px 22px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out .2s;
    display: inline-block;
}

.who_we_are_wrapper .left_part .who_we_are_button:hover {
    background-color: var(--darkMainColor);
}


.who_we_are_wrapper .left_part .who_we_are_button a {
    color: white;
}

.who_we_are_wrapper .left_part .who_we_are_button a:hover {
    text-decoration: none;
}

.who_we_are_wrapper .right_part img {
    width: 100%;
    object-fit: cover;
    height: 85%;
    border-radius: 20px;
}

@media screen and (max-width:767px) {
    .who_we_are_wrapper {
        padding-bottom: 70px;
    }

    .who_we_are_wrapper .left_part h3 {
        font-size: 36px;
    }

    .who_we_are_wrapper .left_part {
        margin-bottom: 30px;
        text-align: center;
    }
}

/* end 'who we are' section */

/* start 'latest news section */

.latest_news_wrapper {
    margin-bottom: 100px;
}

.latest_news_wrapper h3 {
    font-family: var(--headlineFont);
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--darkMainColor);
    margin-bottom: 80px;
    text-align: center;
}

.latest_news_wrapper .card {
    margin-bottom: 40px;
    border-radius: 20px;
}

.latest_news_wrapper .card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.latest_news_wrapper .card .card-body {
    min-height: 285px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.latest_news_wrapper .card .card-body .card-date i {
    color: var(--lightMainColor);
    margin-right: 10px;
}

.latest_news_wrapper .card .card-body .card-date span {
    font-size: 16px;
    color: var(--typoSecondaryColor);
    line-height: 1.7em;
}

.latest_news_wrapper .card .card-body .card-title {
    font-family: var(--headlineFont);
    font-size: 24px;
    font-weight: 400;
    color: var(--darkMainColor);
    margin-bottom: 15px;
    margin-top: 15px;
}

.latest_news_wrapper .card .card-body .card-text {
    font-size: 16px;
    color: var(--darkMainColor);
    line-height: 1.7em;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .latest_news_wrapper h3 {
        font-size: 36px;
    }
}

/* end 'latest news section */

/* start 'our blogs' section */
.blog_wrapper {
    margin-bottom: 100px;
}

.blog_wrapper h3 {
    font-family: var(--headlineFont);
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--darkMainColor);
    margin-bottom: 80px;
    text-align: center;
}

.blog_box .blog_left_part h4 {
    font-family: var(--headlineFont);
    line-height: 1.2em;
    font-weight: 400;
    color: var(--darkMainColor);
    margin-bottom: 0;
}

.blog_box .blog_left_part p {
    font-size: 16px;
    color: var(--darkMainColor);
    line-height: 1.7em;
    font-weight: 400;
    margin-top: 20px;
}

.blog_box .blog_right_part .blog_comment_box {
    margin-bottom: 20px;
}

.blog_box .blog_right_part .blog_comment_box .user_image {
    border-radius: 50%;
    margin-right: 10px;
}

.blog_box .blog_right_part .blog_comment_box img {
    border-radius: 50%;
    width: 50px;
}

.blog_box .blog_right_part .blog_comment_box .user_data h6 {
    margin-bottom: 0;
}

.blog_box .blog_right_part .blog_comment_box .user_data span {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
}

.blog_box .blog_right_part .blog_comment_box .user_data p {
    font-size: 14px;
    color: var(--darkMainColor);
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--lightMainColor);
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

@media screen and (max-width: 767px) {
    .blog_wrapper h3 {
        font-size: 36px;
    }

    .blog_box .blog_left_part {
        margin-bottom: 30px;
    }
}

/* end 'our blogs' section */

/* start 'our sponsor' section */

.sponsor_wrapper {
    margin-bottom: 100px;
}

.sponsor_wrapper h3 {
    font-family: var(--headlineFont);
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--darkMainColor);
    margin-bottom: 80px;
    text-align: center;
}

.sponsor_wrapper h3 i {
    color: var(--lightMainColor);
    margin-left: 10px;
}

.sponsor_box {
    margin-bottom: 50px;
}

.sponsor_box img {
    height: 100px;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 767px) {
    .sponsor_wrapper h3 {
        font-size: 36px;
    }
}

/* end 'our sponsor' section */

/* start 'footer' */

#contactus-box {
    background-color: var(--footerBackground);
    color: #fff;
    padding-bottom: 20px;
    padding-top: 80px;
}

#contactus-box h4 {
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: var(--headlineFont);
}

#contactus-box h4::before {
    position: absolute;
    content: '';
    top: 42px;
    width: 60px;
    height: 3px;
    background-color: var(--lightMainColor);
}

#contactus-box #left p {
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    color: var(--typoSecondaryColor);
}

#contactus-box #left #contact {
    margin-top: 50px;
    color: #fff;
}

#contactus-box #left #contact a {
    color: #fff;
}

#contactus-box #left #contact a:hover {
    text-decoration: none;
}

#contactus-box #left #contact div {
    margin-bottom: 20px;
}

#contactus-box #left #contact span {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

#contactus-box #left #contact span>i {
    color: var(--lightMainColor);
}

#contactus-box #left #social-icons {
    margin-top: 40px;
}

#contactus-box #left #social-icons div>div {
    float: left;
    padding-right: 20px;
    width: 50px;
}

#contactus-box #left #social-icons a:hover {
    text-decoration: none;
}

#contactus-box #left #social-icons i {
    background-color: var(--lightMainColor);
    color: #fff;
    display: flex;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#contactus-box #left #social-icons i:hover {
    cursor: pointer;
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

#contactus-box #mid a {
    display: inline-block;
    color: var(--typoSecondaryColor);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 16px;
}

#contactus-box #mid a:hover {
    color: var(--lightMainColor);
}

#contactus-box #right img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
}

#copyright {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: var(--lightMainColor);
    color: #fff;
}

/* start scroll to top button */
.scroll-to-top {
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 60px;
    right: 5%;
    display: none;
    z-index: 99999;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: var(--lightMainColor);
    line-height: 60px;
    border: 2px solid var(--darkMainColor);
}

.scroll-to-top .scroll-icon {
    font-size: 31px;
    color: var(--dark_blue_color);
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width:767px) {
    #contactus-box #left {
        margin-bottom: 20px;
    }

    #contactus-box #mid {
        margin-bottom: 30px;
    }

    #contactus-box #mid img {
        max-width: 50%;
        margin-top: 30px;
    }

    #contactus-box #main-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    #contactus-box #right img {
        margin-bottom: 70px;
        margin-top: 0;
    }
}

/* end 'footer' */